body {
  background-color: #760101;
}

#box {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  border: 1px solid #ffffff;
}

#thorax {
  background-color: #1c1717;
  position: relative;
  left: 45%;
  top: 45%;
  width: 3rem;
  height: 5rem;
  border-radius: 1rem;
  z-index: 5;
}

#stem {
  background-color: #272525;
  position: relative;
  left: 47.5%;
  top: 42%;
  width: 1.5rem;
  height: 6rem;
  border-radius: 1rem;
  z-index: 0;
}

#left-wing {
  position: relative;
  right: 9rem;
  bottom: 8rem;
  width: 0; 
  height: 0; 
  border-top: 10rem solid transparent;
  border-bottom: 5rem solid transparent;
  border-left: 10rem solid orange;
}

#left-bottom {
  position: relative;
  right: 6rem;
  bottom: 13rem;
  width: 0; 
  height: 0; 
  border-top: 5rem solid transparent;
  border-bottom: 4rem solid transparent;
  border-right: 7rem solid darkorange;
}

#right-wing {
  position: relative;
  left: 2rem;
  bottom: 32rem;
  width: 0; 
  height: 0; 
  border-top: 10rem solid transparent;
  border-bottom: 5rem solid transparent;
  border-right: 10rem solid orange;
}

#right-bottom {
  position: relative;
  left: 2rem;
  bottom: 37rem;
  width: 0; 
  height: 0; 
  border-top: 5rem solid transparent;
  border-bottom: 4rem solid transparent;
  border-left: 7rem solid darkorange;
}