body {
  background-color: black;
}

#ruler {
  /* background-color: gold; */
	background: repeating-linear-gradient(90deg, gold, gold 50px, brown 25px);
  position: absolute;
  top: 40%;
  left: 12.5%;
  width: 75%;
  height: 15%;
  border-radius: 1rem;
}
